.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100vw;
    background-color: rgb(238, 247, 253);
    /* background-color: rgba(255, 227, 229, 0.521); */
    /* background-color: #eff2f8; */
    gap: 10px;
    /* margin-top: -5rem; */
    /* padding-top: 2rem; */
    /* border: 2px solid rgb(198, 198, 198); */
}

.boostrap-carousel {
    z-index: -10;
    /* margin-top: 5rem; */
}

.carousel-indicators {
    z-index: -1;
    display: none;
}

.carousel-control-next,
.carousel-control-prev {

    z-index: 0;
}

.BoostrapCarousel_ {
    /* margin-top: 4.7rem; */
    z-index: -10 !important;
}

.BoostrapCarousel_Item {
    width: 100%;
    height: 350px;
    padding-top: 3rem;
    z-index: -100 !important;
}

.slider_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    /* overflow-y: visible; */
    width: 100%;
    /* height: 270px; */
    height: fit-content;
    gap: 30px;
    z-index: 10;
    margin-top: -2rem;
    padding-left: 20px;
    /* display: none; */
    /* background-color: #333; */
}

.slider_container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    /* overflow-y: visible; */
    width: 100%;
    /* height: 270px; */
    height: fit-content;
    gap: 30px;
    z-index: 10;
    /* margin-top: -3rem; */
    padding-left: 20px;
}

.slider_container2::-webkit-scrollbar {
    height: 5px;
}

.slider_container::-webkit-scrollbar {
    /* display: none; */
    /* width: 10px; */
    height: 5px;
}

.slider_container2::-webkit-scrollbar-thumb {
    background-color: rgb(142, 141, 141);
    border-radius: 10px;
    cursor: pointer;
}

.slider_container::-webkit-scrollbar-thumb {
    background-color: rgb(142, 141, 141);
    border-radius: 10px;
    cursor: pointer;
}

.slider_container2::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    cursor: pointer;
}

.slider_container::-webkit-scrollbar-thumb:hover {
    background-color: #333;
    cursor: pointer;
}

.slider_container2::-webkit-scrollbar-track {
    background-color: #e5e5e5;
    border-radius: 10px;
}

.slider_container::-webkit-scrollbar-track {
    background-color: #e5e5e5;
    border-radius: 10px;
}

.Tag_heading {
    /* font-size: 1.5rem; */
    font-weight: 500;
    color: #de5050;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

.BoostrapCarousel_Item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_container .main_container_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_container .main_container_spinner .spinner-border {
    width: 2rem;
    height: 2rem;
    border: 5px solid #de5050;
    border-top: transparent;
    border-bottom: transparent;
}


@media screen and (max-width: 600px) {
    .card_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100vw;
        background-color: #eff2f875;
        gap: 10px;

    }

    .BoostrapCarousel_ {
        /* margin-top: 4.7rem; */
        z-index: -10 !important;
    }

    .BoostrapCarousel_Item {
        width: 100%;
        height: 200px;
        padding-top: 3rem;
        z-index: -100 !important;
    }

    .slider_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        /* overflow-y: visible; */
        width: 100%;
        /* height: 270px; */
        height: fit-content;
        gap: 30px;
        z-index: 10;
        margin-top: -2rem;
        padding-left: 20px;
        /* display: none; */
        /* background-color: #333; */
    }

    .slider_container2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        /* overflow-y: visible; */
        width: 100%;
        /* height: 270px; */
        height: fit-content;
        gap: 30px;
        z-index: 10;
        /* margin-top: -3rem; */
        padding-left: 20px;
    }

    .slider_container2::-webkit-scrollbar {
        height: 5px;
    }

}